<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <img src="https://cdn.dribbble.com/users/2015153/screenshots/6592242/progess-bar2.gif" alt="Loading">
    <script>
        setTimeout(()=>{
            location.replace('/text')
        },4000)
    </script>
</body>
</html>